.header{
    width: 95%;
    height: 10%;
    left: .5%;
    top: 0;
    position: fixed;
    display: flex;
    margin: auto;
    margin-left: 2vh;
    color: black;
    border-bottom: .1vh solid black;
    backdrop-filter: blur(10px);
    background-color: rgba(229, 228, 228, 0.585);
    z-index: 3;
}

.header .logohdr{
    font-size: 6vh;
    display: flex;
    margin: auto;
}

.btnhead{
    left: 65%;
    position: absolute;
    display: flex;
    margin-top: 1vh;
    padding: 0%;
    align-self: center;
}

.btnhead button, a{
    color: black;
    margin-right: 2vh;
    padding: 0%;
    display: flex;
    cursor: pointer;
    font-size: 4vh;
    background-color: transparent;
    border: none;
}

.btnhead i{
    position: relative;
    margin-top: .5vh;
    transition: 500ms;
}

.btnhead i:hover{
    cursor: pointer;
    text-shadow: 0 0 10px black;
    transition: 500ms;
}

.imguserhrd img{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: .1vh solid black;
    transition: 500ms;
}

.imguserhrd img:hover{
    cursor: pointer;
    box-shadow: 0 0 2vh black;
    transition: 500ms;
}