/* modal.css */

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-5vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.modal-overlay {
  position: fixed; /* Cambiado de absolute a fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.421);
  backdrop-filter: blur(3vh);
  transition: 500ms;
  color: black;
  overflow: none;
}

.modal-content {
  align-content: center;
  align-self: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: white;
  width: 50%;
  padding: 2vh;
  border: .2vh solid #888;
  border-radius: 2vh;
  transition: 500ms;
  color: black;
  box-shadow: 0 0 4vh black;
  animation: modalFadeIn 0.5s ease-out; /* Aplicar la animación */
}

.close {
  color: #505050;
  float: right;
  font-size: 4vh;
  font-weight: bold;
  cursor: pointer;
  transition: 500ms;
  font-weight: bold;
}

.close:hover {
  color: rgb(255, 0, 0);
  transition: 500ms;
}

.modal-content h2 {
  text-align: center;
  margin-top: 0;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form label {
  font-size: 2vh;
  margin-top: 2vh;
  margin-bottom: 1vh  ;
}

.modal-content form input,
.modal-content form textarea {
  font-size: 2vh;
  width: 80%;
  margin: auto;
  color: black;
  margin-bottom: 2vh;
  padding: 1vh;
  border: none;
  border-radius: 2vh;
  background-color: #0000001d;
}

.modal-content form button {
  font-size: 2vh;
  margin-top: 2vh;
  padding: 1vh;
  background: #007bff;
  color: white;
  border: none;
  border-radius: .7vh;
  cursor: pointer;
}
