html {
    background-color: rgba(0, 0, 0, 0.152);
    display: flex; /* Usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Hacer que el html ocupe toda la altura de la pantalla */
    text-align: center;
    transition: 500ms;
    font-weight: bold;
    transition: 500ms;
  }
  
  .spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* Ajusta la altura según sea necesario */
    transition: 500ms;
    transition: 500ms;
  }
  
  .loaderspinner {
    width: 8px;
    height: 8px;
    position: fixed;
    border-radius: 50%;
    background: rgba(227, 153, 73, 0.632);
    animation: wave 1s ease-in infinite;
    transition: 500ms;
  }
  
  @keyframes wave {
   0% {  box-shadow:
    0 0 0 0px rgba(227, 153, 73, 0.632),
    0 0 0 20px rgba(13, 0, 255, 0.066),
    0 0 0 40px rgba(255, 170, 1, 0.36),
    0 0 0 60px rgba(0, 81, 255, 0.244),
    0 0 0 80px rgba(255, 0, 0, 0.034)
    }
    100% {  box-shadow:
      0 0 0 80px rgba(255, 136, 0, 0),
      0 0 0 60px rgba(0, 81, 255, 0.2),
      0 0 0 40px rgba(255, 115, 0, 0.168),
      0 0 0 20px rgba(0, 157, 255, 0.397),
      0 0 0 0px rgba(255, 136, 0, 0.73)  
    }
  }
  
  
    