.spinner {
  position: fixed; /* Asegura que el spinner se mantenga en el mismo lugar incluso si la página se desplaza */
  left: 50%; /* Centra horizontalmente */
  top: 50%; /* Centra verticalmente */
  transform: translate(-50%, -50%); /* Ajusta para que el centro del spinner esté en el centro de la pantalla */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.loaderspinner {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(227, 153, 73, 0.632);
  animation: wave 1s ease-in infinite;
  transition: 500ms;
}

@keyframes wave {
  0% {
    box-shadow:
      0 0 0 0px rgba(227, 153, 73, 0.632),
      0 0 0 20px rgba(13, 0, 255, 0.066),
      0 0 0 40px rgba(255, 170, 1, 0.36),
      0 0 0 60px rgba(0, 81, 255, 0.244),
      0 0 0 80px rgba(255, 0, 0, 0.034);
  }
  100% {
    box-shadow:
      0 0 0 80px rgba(255, 136, 0, 0),
      0 0 0 60px rgba(0, 81, 255, 0.2),
      0 0 0 40px rgba(255, 115, 0, 0.168),
      0 0 0 20px rgba(0, 157, 255, 0.397),
      0 0 0 0px rgba(255, 136, 0, 0.73);
  }
}
