.header{
    top: 0;
    left: 12%;
    position: fixed;
    display: flex;
    margin: auto;
    color: black;
    border-bottom: .1vh solid black;
    width: 80%;
    background-color:rgb(229, 228, 228);
    height: 10%;
    z-index: 1;
}

.header .logohdr{
    font-size: 6vh;
    display: flex;
    margin: auto;
}