.publis{
    position: relative;
    margin-bottom: 10vh;
    width: 70%;
    height: auto;
    left: 15%;
    color: black;
    padding: 2%;
    box-shadow: 0 0 30px black;
    border-radius: 4vh;
}

.infouser{
    display: flex;
}
.containerpost{
    border-radius: 1.5vh;
    padding: 2%;
    border: .4vh dashed rgba(0, 0, 0, 0.327);
}

/* userimg */
.imguser img{
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    border: .1vh solid black;
}

.nameuser{
    font-size: 4vh;
    align-self: center;
    margin-left: 1%;
    text-align: left;
}


.contain{
    margin-top: 2%;
    display: flex;
    width: 100%;
    height: 10%;
}

.photodesc{
    border-left: .5vh solid black ;
    width: 50%;
    height: 100%;
}

.photodesc h1, h2{
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
    font-size: 3vh;
}

.photopost{
    width: 50%;
}
/* postimg */
.photopost img{
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
    margin-right: 3%;
    border-radius: 1vh;
    max-width: 93%;
    max-height: 60vh;
    box-shadow: 0 0 20px black;
}

