html{
    background-color: #ffffff;
}
.Login{
    display: flex;
    border-radius: 3vh;
    width: 170vh;
    height: 80vh;
    background-color: transparent;
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.665);
}

/* Izquierda */
.infologin{
    display: flex;
    width: 50%;
}

.infologin h1{
    margin: auto;
    align-self: center;
    align-items: center;
    align-content: center;
}

/* Derecha */
.login-register-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    border-radius: 10px;
  }
  
  .form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .form-toggle button {
    color: rgba(0, 0, 0, 0.466);
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .form-toggle button.active {
    font-weight: bold;
    color: #000000;
  }
  
  .form-toggle button:not(.active):hover {
    color: #0000007b;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Login a{
    margin: auto;
    width: 50%;
    color: black;
    border-radius: 1vh;
    text-decoration: none;
  }

  .form button {
    width: 100%;
    margin: auto;
    font-size: 2vh !important;
    color: black;
    background-color: #ffffff;
    padding: 4px;
    font-size: 100%;
    position: relative;
    border-radius: 1vh;
    padding: 1%;
    transition: 500ms;
  }
  
  .form button:hover {
    cursor: pointer;
    background-color: #9e9e9e;
    color: rgb(0, 0, 0);
    transition: 500ms;
    box-shadow: .6vh .9vh .5vh rgba(0, 0, 0, 0.816);
  }
  
